@model List<AtlasYikamaProject.DAL.Entitys.AboutPage>
@{
    ViewBag.Title = "AdminAboutPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Hakkımda Sayfası Alanı</h2>
<table class="table table-bordered">

    <tr>

        <th>Başlık 1</th>
        <th>Başlık 2</th>
        <th>Açıklama 1</th>
        <th>Açıklama 2</th>
       
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>

            <td>@item.Title</td>
            <td>@item.Title2</td>
            <td>@item.Description</td>
            <td>@item.Description2</td>
           
            <td><a href="/AboutPage/UpdateAboutPage/@item.AboutPageID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
