@model List<AtlasYikamaProject.DAL.Entitys.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Listesi</h2>
<table class="table table-bordered">

    <tr>
       
        <th>Başlık 1</th>
        <th>Başlık 2</th>
        <th>Açıklama</th>
        <th>Görsel</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
           
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td>@item.Description</td>
            <td>@item.Image</td>

            <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

