
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

@Html.Action("PartialHead", "Default")

<body>
    <!-- header -->
    @Html.Action("PartialHeader", "Default")
    <!-- //header -->
    <!-- banner 2 -->
    <div class="banner2-w3ls">

    </div>
    <!-- //banner 2 -->
    <!-- page details -->
    <div class="breadcrumb-agile">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Galeri</li>
            </ol>
        </nav>
    </div>
    <!-- //page details -->
    <!-- contact -->
    <div class="contact py-5">
        <div class="container py-xl-5 py-lg-3">
            <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">GALERİ</h2>
            <ul class="demo">
                <h6 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Araç Koltukları</h6>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba4.jpg" alt="" class="img-fluid" />
                        @*<div class="p-mask">
                            
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba3.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba5.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba6.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba8.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba9.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba10.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/Templates/web/images/araba7.jpg" alt=" " class="img-fluid" />
                        @*<div class="p-mask">
                            <h4>Cleaning Services</h4>
                            <p>Neque porro est.</p>
                        </div>*@
                    </div>
                </li>
                <div class="deneme">
                    <h6 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Ev Koltukları</h6>
                    <ul class="demo">
                        <li>

                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/koltuk1.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/koltuk2.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/oda5.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/oda6.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>

                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/oda2.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/koltuk4.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/oda7.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="gallery-grid1">
                                <img src="~/Templates/web/images/oda4.jpg" alt=" " class="img-fluid" />
                                @*<div class="p-mask">
                                    <h4>Cleaning Services</h4>
                                    <p>Neque porro est.</p>
                                </div>*@
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
    </div>
    </div>
    <!-- //gallery -->
    <!-- footer -->
    @Html.Action("PartialFooter", "Default")
    <!-- //footer -->
    <!-- Js files -->
    <!-- JavaScript -->
    <script src="~/Templates/web/js/jquery-2.2.3.min.js"></script>
    <!-- Default-JavaScript-File -->
    <!-- gallery -->
    <script src="~/Templates/web/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('.demo li'));
            $('.demo li').picEyes();
        });
    </script>
    <!-- //gallery -->
    <!-- smooth scrolling -->
    <script src="~/Templates/web/js/SmoothScroll.min.js"></script>
    <!-- move-top -->
    <script src="~/Templates/web/js/move-top.js"></script>
    <!-- easing -->
    <script src="~/Templates/web/js/easing.js"></script>
    <!--  necessary snippets for few javascript files -->
    <script src="~/Templates/web/js/cleaning.js"></script>

    <script src="~/Templates/web/js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //Js files -->

</body>

</html>
