<div class="feature py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="phone text-lg-left text-center">
                    <img alt="" src="~/Templates/web/images/iphone.png" class="img-fluid phone-img-w3ls">
                    <div class="iphone5-screen">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="carousel-item item-1 active ">
                                </div>
                                <div class="carousel-item item-2 ">
                                </div>
                                <div class="carousel-item item-3">
                                </div>
                                <div class="carousel-item item-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 offset-xl-1 mt-4">
                <h3 class="text-white font-weight-bold text-mobile-w3">
                    Temizlikte A'dan Z'ye verdiğimiz hizmetlerden memnun kalın
                </h3>
                <p class="white-forming my-4">
                    İşini aşkla yapan ekibimizin hizmetleri.
                </p>
                <ul class="list-unstyled text-white">
                    <li class="list-agiles">
                        <i class="fas fa-check mr-2"></i>Araç Koltukları
                    </li>
                    <li class="list-agiles my-3">
                        <i class="fas fa-check mr-2"></i>Ev Koltukları
                    </li>
                    <li class="list-agiles my-3">
                        <i class="fas fa-check mr-2"></i>Kafe Koltukları
                    </li>
                    <li class="list-agiles my-3">
                        <i class="fas fa-check mr-2"></i>İşyeri Koltukları
                    </li>
                    <li class="list-agiles my-3">
                        <i class="fas fa-check mr-2"></i>Araç Tavan-Taban Döşeme
                    </li>
                    <li class="list-agiles my-3">
                        <i class="fas fa-check mr-2"></i>Kumaş Temizliği
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
