<div class="progress-w3ls py-5 text-center">
    <div class="isbaslık">
        <h3>MÜŞTERİLERİMİZ</h3>
    </div>
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">99%</div>

                </div>
                <p class="text-white progress-texts mt-3">Memnun Müşteriler</p>
            </div>
            <div class="col-md-3 col-sm-6 mt-sm-0 mt-4">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">80%</div>

                </div>
                <p class="text-white progress-texts mt-3">Ev Koltukları</p>
            </div>
            <div class="col-md-3 col-sm-6 mt-md-0 mt-4">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">85%</div>

                </div>
                <p class="text-white progress-texts mt-3">Araç Koltuk</p>
            </div>
            <div class="col-md-3 col-sm-6 mt-md-0 mt-4">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">75%</div>
                </div>
                <p class="text-white progress-texts mt-3">Kafe Koltuk</p>
            </div>
        </div>
    </div>
</div>
