<section class="middle-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-5 agileits_works-grid">
                <h2 class="tittle mb-xl-5 mb-4 text-white text-uppercase font-weight-bold pl-4 py-3">Hakkımızda</h2>
            </div>
            <div class="col-lg-7 para-right-title">
                @*<p class=" text-white text-right" >Farkımızı Göreceksiniz....</p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-white text-uppercase font-weight-bold">Temizlik Hizmetleri</h4>
                <h6 class="text-white text-uppercase sec-text border-bottom pb-2 mt-4">En iyi Temizlik</h6>
                <p class="my-5 white-forming ml-xl-auto  ">
                    Servisimiz kapınızın önüne kadar vardır elektrik ve su ihtiyacını    karşılayabiliyor sanız sizin gelmenize gerek yok biz mekanınızın önünde araç koltuk temizleme yapabiliriz.

                    Yıllarca bu işi yaptığımızdan dolayı araba koltuğu nasıl yıkanır çok iyi biliriz. araba koltukları profesyonel yıkama yapmayınca kötü kokular ve lekeler kalır. Araba koltuk yıkama da biz %99  temizlik sağlarız.
                </p>
                <a href="about.html" class="btn btn-sm animated-button victoria-two">Devamını Oku </a>
            </div>
     
            <div class="col-lg-6 mt-sm-0 text-right">
               
                <div class="embed-responsive embed-responsive-4by3" style="max-width:700px;" align="center">
                    <iframe id="videom" class="embed-responsive-item" src="https://www.youtube.com/embed/Z9CINmpA_Jw"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
