<footer class="py-4">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-md-8 footer-title">
                <h1 class="tittle text-white text-uppercase font-weight-bold pl-4 py-3">Sosyal Medya İle ULAŞABİLİRSİNİZ</h1>
            </div>
            <div class="col-md-4 logo-2 text-md-right text-center mt-md-0 mt-4">
                <!-- social icons -->
                <div class="social-icons text-md-right text-center">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="fab fa-facebook-f icon-border facebook rounded-circle"> </a>
                        </li>
                        <li class="mx-2">
                            <a href="#" class="fab fa-twitter icon-border twitter rounded-circle"> </a>
                        </li>
                        <li>
                            <a href="#" class="fab fa-google-plus-g icon-border googleplus rounded-circle"> </a>
                        </li>
                        <li class="ml-2">
                            <a href="#" class="fas fa-rss icon-border rss rounded-circle"> </a>
                        </li>
                    </ul>
                </div>
                <!-- //social icons -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 copy">
                <p class="mt-md-5 pt-md-4">
                    &copy; @DateTime.Now.Year . | Design by Hüseyin Kurnalı
                   
                </p>
            </div>
            <div class="col-md-4 logo-2 text-md-right text-center">
                <a class="logo-footer" href="index.html">
                    <img src="~/Templates/web/images/logoAtlas.png" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</footer>
