<header>
    <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container">
            <a class="navbar-brand" href="/Default/Index/">
                <img src="~/Templates/web/images/logoAtlas9.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item ">
                        <a class="nav-link" href="/Default/Index/">
                            Anasayfa

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AboutPage/Index/">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GalleryPage/Index/">Galeri</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/BlogPage/Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index/">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
