<div class="callbacks_container">
    <ul class="rslides" id="slider3">
        <li>
            <div class="slider-info banner-w3-1">
                <div class="w3l-overlay">
                    <div class="banner-text text-center container">
                        <h3 class="text-white mb-4 text-uppercase">
                            Profesyonel
                            <span>
                                Koltuk Yıkama
                            </span>
                        </h3>
                        <p class="movetxt text-white text-uppercase">
                            Koltuklarınızı
                            <span>temizlemeyi seviyoruz!</span> Ve bunun için çok çalışıyoruz

                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="slider-info banner-w3-2">
                <div class="w3l-overlay">
                    <div class="banner-text text-center container">
                        <h3 class="text-white mb-4 text-uppercase">
                            Profesyonel
                            <span>
                                Koltuk Yıkama
                            </span>
                        </h3>
                        <p class="movetxt text-white text-uppercase">
                            Koltuklarınızı
                            <span>temizlemeyi seviyoruz!</span> Ve bunun için çok çalışıyoruz

                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="slider-info banner-w3-3">
                <div class="w3l-overlay">
                    <div class="banner-text text-center container">
                        <h3 class="text-white mb-4 text-uppercase">
                            Profesyonel
                            <span>
                                Koltuk Yıkama
                            </span>
                        </h3>
                        <p class="movetxt text-white text-uppercase">
                            Koltuklarınızı
                            <span>temizlemeyi seviyoruz!</span> Ve bunun için çok çalışıyoruz

                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
